extends layout
block content
  html
    body
      .navbar-fixed
        nav
          .nav-wrapper
            a.brand-logo(href='#!')
            a.button-collapse(href='#', data-activates='mobile-demo')
              i.material-icons menu
            ul.right.hide-on-med-and-down
              li
                a(href='./') Home
              li
                a(href='./gallery') My Photos
            ul#mobile-demo.side-nav
              li
                a(href='sass.html') Sass
              li
                a(href='badges.html') Components
              li
                a(href='collapsible.html') Javascript
              li
                a(href='mobile.html') Mobile
      .header
        div
          img(src='/images/gallery/white1.JPG', alt='')
        div
          img(src='/images/gallery/white2.JPG', alt='')
        div
          img(src='/images/gallery/white3.JPG', alt='')
        div
          img(src='/images/gallery/green1.JPG', alt='')
        div
          img(src='/images/gallery/green3.JPG', alt='')
        div
          img(src='/images/gallery/green2.JPG', alt='')
        div
          img(src='/images/gallery/blue1.JPG', alt='')
        div
          img(src='/images/gallery/blue2.JPG', alt='')
        div
          img(src='/images/gallery/blue3.JPG', alt='')
        div
          img(src='/images/gallery/blue4.JPG', alt='')
        div
          img(src='/images/gallery/blue5.JPG', alt='')
        div
          img(src='/images/gallery/blue6.JPG', alt='')
        div
          img(src='/images/gallery/brown1.JPG', alt='')
        div
          img(src='/images/gallery/brown2.JPG', alt='')
        div
          img(src='/images/gallery/brown3.JPG', alt='')
        div
          img(src='/images/gallery/dark4.JPG', alt='')
        div
          img(src='/images/gallery/dark6.JPG', alt='')
        div
          img(src='/images/gallery/dark5.JPG', alt='')
        div
          img(src='/images/gallery/dark1.JPG', alt='')
        div
          img(src='/images/gallery/dark2.JPG', alt='')
        div
          img(src='/images/gallery/dark3.JPG', alt='')



